﻿@*@model List<WebBuecherei.Models.Book>*@
@model Tuple<List<WebBuecherei.Models.Book>, List<WebBuecherei.Models.Category>>
@{
    ViewBag.Title = "BooksByCatsShowResults";
}

<h2>Bücher nach Kategorien</h2>

<form id="cats" action="/Home/BooksByCategory" method="POST">
    @Html.DropDownList("CatID", new SelectList(Model.Item2, "CategoryID", "CategoryName"), "Bitte wählen...")

    <input type="submit" id="bSubmit">
</form>

@if (Model.Item1.Count > 0)
{
    <br />
    <table>
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Titel</th>
                <th>Erschienen</th>
                <th>Kategorie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Item1)
            {
                <tr>
                    <td>@b.ISBN</td>
                    <td>@b.Title</td>
                    <td>@b.Year</td>
                    <td>@b.Category.CategoryName</td>
                </tr>
            }
        </tbody>

    </table>
}


