﻿@model List<WebBuecherei.Models.Book>
@{
    ViewBag.Title = "FindBooks";
}

<h2>Büchersuche</h2>
<form id="searchform" action="/Home/FindBooks" method="post">
    <input id="searchbox" type="text" required="required" name="searchterm" />
    <input type="submit" value="Suchen" />
</form>

@if (Model.Count > 0)
{
    <br />
    <table id="resultstable">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Titel</th>
                <th>Erschienen</th>
                <th>Kategorie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.ISBN</td>
                    <td>@book.Title</td>
                    <td>@book.Year</td>
                    <td>@book.Category.CategoryName</td>
                </tr>
            }
        </tbody>

    </table>
}

