﻿@model WebBuecherei.Models.BooksDBEntities
@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script src="/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bookmanager.js"></script>
}
<h2>Bücher DaVe - Ihre Bücher-Datenverwaltung</h2>
<p>
    Mit Bücher DaVe können Sie sich mühelos alle in Ihrer Datenbank enthaltenen Bücher anzeigen lassen, gezielt nach einem bestimmten Schlagwort im Titel suchen oder über die Auswahl einer Kategorie sich alle in dieser enthaltenen Bücher anzeigen lassen.
</p>
<div id="jsctrls" hidden="hidden">

    <h3>Alles auf einer Seite - Die JavaScript-Bücher-DaVe</h3>

    <div id="searchboxdiv">
        Suche nach Titel: <input type="text" id="searchbox" />
    </div><div id="selectdiv">
        <select id="catselect"></select>
    </div>
    <br />
    <table id="booktable">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Titel</th>
                <th>Erschienen</th>
                <th>Kategorie</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<noscript>
    <br />
    <h3>Meldung:</h3>
    <p>Ihr Browser unterstützt kein JavaScript. Sie können aber auch über die Menüpunkte oben in der Navigation alle Elemente von Bücher DaVe nutzen.</p>
    @*<main id="mainblock">
            <a href="/Home/ShowAllBooks">Alle Bücher anzeigen</a><br />
            <a href="/Home/FindBooks">Bücher suchen</a><br />
            <a href="/Home/BooksByCategory">Bücher nach Kategorie</a><br />
        </main>*@
</noscript>
