﻿<!-- Model hinzugefügt -->
@model WebBuecherei.Models.BooksDBEntities
@{
    ViewBag.Title = "ShowAllBooks";
}

<h2>Alle Bücher</h2>

<table>
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Erschienen</th>
            <th>Kategorie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.ISBN</td>
                <td>@book.Title</td>
                <td>@book.Year</td>
                <td>@book.Category.CategoryName</td>
            </tr>
        }
    </tbody>

</table>


