﻿nav ul 
{
    padding: 0.5em 0 0.5em 0.5em;
    background-color: #eaa766;
    width: 90%;
}

nav ul li {
    list-style: none;
    display: inline;
    padding-right: 0.5em;
}

nav ul li a:link {
    color: #512800;

}

nav ul li a:visited {
    color: #512800;
}

nav ul li a:hover,nav ul li a:focus {
    color: #512800;
    background-color: #ffdcb9;
    text-decoration: overline underline;
    padding: 0.5em 0 0.5em 0.5em;
}

nav ul li a:active {
    color: #512800;
}



