﻿@import url('table.css');
@import url('bootstripped.css');
/*@import url('mainnav.css');*/

/*.navbar-collapse, .collapse, .navbar-inverse, .navbar-fixed-top {
    background-color: #eaa766;
    border-bottom: #512800;
    color: #512800;
}*/
html {
    overflow-y: scroll;
}

body h1, h2, h3, h4, h5, h6 {
    color: #512800;
    // background: url('../pix/3392517_054e448ae1_m.gif') repeat; /* tanzender Hase =D */
}

input[type="text"]#searchbox {
    background-color: #ffdcb9;
    color: #512800;
    margin-right: 0.2em;
}

select {
    background-color: #ffdcb9;
    color: #512800;
}

#searchboxdiv {
    float: left;
    display: inline;
    padding: 1em 0 0.5em;
}

#selectdiv {
    margin-bottom: 0.8em;
    float: right;
    display: inline;
    clear: both;
}

.centered {
    text-align: center;
    padding: 1em;
}

.bordered {
    border: 2px dotted #512800;
}

.righted {
    text-align: right;
    padding: 1em;
}
