﻿table {
    width: 100%;
}

table th {
    background-color: #B7712D;
    color: #341a00;
    padding: 0.5em;
    border-bottom: 1px solid #512800;
}

table td {
    
}

table tr:nth-child(2n) {
    background-color: #ffdcb9;
    color: black;
}

table tr:nth-child(2n+1) {
    background-color: #eaa766;
    color: black;
}

table td {
    padding: 0.3em 0.6em;
}

